<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Portfólio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Bem-vindo ao Meu Portfólio</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/about">Sobre</a>
            <a href="/contact">Contato</a>
        </nav>
    </header>
    <main>
        <h2>Projetos Recentes</h2>
        Recentemente no ano de 2023, juntamente de alguns colegas, eu
        realizei um trabalho onde com utilização de Arduino e código em
        C, construímos um projeto que simulava uma catraca por aproximação.
        Você pode ver completo no meu LinkedIn.
    </main>
    <footer>
        <p>&copy; 2024 Meu Portfólio</p>
    </footer>
</body>
</html>
